body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: white;
  color: #333;
}

h1 {
  text-align: center;
}

.color-well {
  width: 200px;
  background-image: url('checker.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-well figure {
  margin: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thick solid #666;
  background-color: red;
  background-image: ;
}

.color-well figcaption {
  font-family: monospace;
  background-color: hsla(0, 0%, 0%, 0.25);
  padding: 0.2em;
  border-radius: 5px;
  font-size: 0.8em;
  color: white;
  text-shadow: 1px 1px 0 #666;
}

ul.sliders {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

ul.sliders li {
  margin: 1em;
}

ul.sliders label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
}
